* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #eacda3 , #d6ae7b) no-repeat;
  min-height: 100vh;
}

.title {
  text-align: center;
  text-shadow: 0 1px 0 #000;
  color: white;
  flex: 1 0 100%;
}

.smooth-slider {
  border-radius: 5px;
  box-shadow: 0 0 5px #212121;
}

.slide {
  text-align: center;
  font-size: 2rem;
  background: #ff8c00;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
