[class*="smooth-slider"][data-orientation*="horizontal"] {
  display: flex;
  flex-flow: row nowrap;
}

.generated-wrapper {
  width: $smooth-slider-width;
  height: $smooth-slider-height;
  overflow: hidden;
}

.smooth-slider {
  transform: translateX(-$smooth-slider-width);

  &.transition {
   transition: $smooth-slider-transition;
  }

  .slide {
    flex: 1 0 100%;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
